{% extends 'boilerplate.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base_navbars.css') }}">
<script src="https://kit.fontawesome.com/8b14f8f266.js" crossorigin="anonymous"></script>

    {% block innerhead %}
    {% endblock %}

{% endblock %}



{% block body %}
<div class="page_container">
    <div class="top_bar">
        <a href="home"><label class="logo">LOGO</label></a>

        <div class="top_middle">
            <label class="logged_in_as">Logged in as "placeholder name"</label>
        </div>

        <div class="top_right_corner">
            <a>Options</a>
            <a href="/"><i class="fa-solid fa-circle-user"></i></a>
        </div>
    </div>

    <div class="hori_layout">
        <div class="left_bar">
            <a href="home" class="home_btn">Home</a>
            
            <a href="alltickets">Tickets</a>
            <a href="projects">Projects</a>
            <a class="profile_btn">Profile</a>
            
        </div>

        <div class="innerbody_wrapper">
            <!-- actual page content goes in the innerbody block in the future child of this page-->
            {% block innerbody %}
            
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
