{% extends 'base_navbars.html' %}

{% block innerhead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

{% endblock %}



{% block innerbody %}
<div class="innerbody">
    <div class="welcomeback_wrapper">
        <h1>Welcome Back "placeholder name"</h1>
    </div>

    <div class="card_wrapper">
        <a href="/">
            <div class="project_card">
                projects
            </div>
        </a>

        <a href="/">
            <div class="ticket_card">
                tickets
            </div>
        </a>
    </div>
    <div class="new_ticket_div">
        <h3 class="ticket_list_header">new tickets</h3>
        <ul class="ticket_list">
            <li>Ticket 1: Lorem Ipsum is simply dummy text of the printing and typesetting </li>
            <li>Ticket 2: industry. Lorem Ipsum has been the industry's standard dummy</li>
            <li class="last_ticket">Ticket 3: text ever since the 1500s, when an unknown printer took a galley</li>
        </ul>
    </div>
    
</div>
{% endblock %}
