{% extends 'boilerplate.html' %}

{% block head %}
<script src="https://kit.fontawesome.com/8b14f8f266.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<script>
function toggle_create() {
    if (document.getElementById("login_div").style.display == "none") {
        document.getElementById("login_div").style.display = "flex";
        document.getElementById("create_acc").style.display = "none";
        //document.getElementById("create_user_form").reset(); //This'll mess things up
        
    } else {
        document.getElementById("login_div").style.display = "none";
        document.getElementById("create_acc").style.display = "flex";
        document.getElementById("login_input_form").reset();
    }
}

function show_created() {
    document.getElementById("acc_made").style.display = "block";
}

function toggle_forgot() {
    if (document.getElementById("login_div").style.display == "none") {
        document.getElementById("login_div").style.display = "flex";
        document.getElementById("forgot_pass").style.display = "none";
    } else {
        document.getElementById("forgot_pass").style.display = "flex";
        document.getElementById("login_div").style.display = "none";
    }
}
</script>

{% endblock %}


{% block body %}
<div class="logo_div"><h1 class="logo">LOGO</h1></div>

<div class="login_container">
    <div class="login_divs" id="login_div">
        <div class="header_div">
            <i class="fa-solid fa-user user_icon"></i> 
            <h2 class="login_header">Login</h2>
        </div>
        <form class="login_form" method="POST" id="login_input_form">
            <input type="text" placeholder="Username" name="login_username">
            <input type="password" placeholder="Password" name="login_password">
            <input type="submit" value="Login" class="login_button">
        </form>
        <label id="acc_made">Account Created Successfully</label>
        <div class="link_container">
            <a onclick="toggle_create()">Create account</a>
            <a onclick="toggle_forgot()">Forgot password?</a>
        </div>
    </div>

    <div class="create_acc_divs" id="create_acc">
        <div class="header_div">
            <i class="fa-solid fa-user user_icon"></i> 
            <h2 class="login_header">Create an Account</h2>
        </div>
        <form class="login_form" id="create_user_form" method="POST">
            <input type="text" placeholder="Username" name="create_username">
            <input type="text" placeholder="Email" name="create_email">
            <input type="password" placeholder="Password" name="create_password">
            <input type="submit" value="Create" class="login_button" onclick="toggle_create()">
        </form>
        
        <div class="link_container">
            <a onclick="toggle_create()">Back</a>
        </div>
    </div>

    <div class="create_acc_divs" id="forgot_pass">
        <div class="header_div">
            <h2 class="login_header">Forgot Your Password?</h2>
        </div>
    
        <label>Enter your Email</label>
        <form class="login_form" method="POST">
            <input type="text" placeholder="Email" name="email_form">
            <input type="submit" class="login_button" value="Verify" formaction="/forgotpassword">
        </form>

        <div class="link_container">
            <a onclick="toggle_forgot()">Back</a>
        </div>
    </div>
</div>
{% endblock %}