{% extends 'base_navbars.html' %}


{% block innerhead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">

{% endblock %}



{% block innerbody %}
<div class="innerbody">
    <div class="header_div">
        <h2>All Projects</h2>

        <div class="sort_div">
            <h3>Sort</h3>
            <i class="fa-solid fa-sort"></i>
        </div>
    </div>

    <div class="project_grid">
        <div class="project_cell_wrapper"><div class="project_cell"><label class="project_name">Project Name</label><p></p></div></div>
        <div class="project_cell_wrapper"><div class="project_cell">project name</div></div>
        <div class="project_cell_wrapper"><div class="project_cell">project name</div></div>
        <div class="project_cell_wrapper"><div class="project_cell">project name</div></div>
        <div class="project_cell_wrapper"><div class="project_cell">project name</div></div>
        
        <div class="project_cell_wrapper"><div class="project_cell">project name</div></div>
        <div class="project_cell_wrapper">project name</div>
        <div class="project_cell_wrapper">project name</div>
        <div class="project_cell_wrapper">project name</div>
        <div class="project_cell_wrapper">project name</div>
        
        <div class="project_cell_wrapper">project name</div>
        <div class="project_cell_wrapper">project name</div>
        <div class="project_cell_wrapper">project name</div>
        <div class="project_cell_wrapper">project name</div>
        <div class="project_cell_wrapper">project name</div>
    </div>
</div>
{% endblock %}