{% extends 'base_navbars.html' %}



{% block innerhead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
{% endblock %}



{% block innerbody %}
<div class="innerbody">
    <div class="margin_div">
        <div class="header_div">
            <h1>{{ project["title"] }}</h1>

            <a>Add Ticket</a>
            <a href="/home">Add People</a>
            <a href="/home">Manage Members</a>
        </div>
        <div class="minimize_div">
            <button type="button"><i class="fa-solid fa-square-minus"></i></button>
            
        </div>
        <div class="desc_div">
            <label>{{ project["description"] }}</label>
        </div>
        <!--<div class="graph_div"></div>-->

        <div class="todo_div">
            <div class="todo_columns">
                <div class="col">
                    <div class="col_heading_div">
                        <label class="col_heading"><b>Col Name</b></label>
                    </div>
                    <div class="tickets">
                        <div class="ticket_div">Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket3  Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div add_ticket"><a href="/projects" id="add_ticket_btn">Add a ticket</a></div>

                    </div>
                </div>
                <div class="col">
                    <div class="tickets">
                        <div class="col_heading_div">
                            <label class="col_heading"><b>Col Name</b></label>
                        </div>
                        <div class="ticket_div">Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name</div>
                        
                        <div class="ticket_div add_ticket"><a href="/projects" id="add_ticket_btn">Add a ticket</a></div>
                    </div>

                </div>
                <div class="col"></div>
                <button class="add_col_btn" type="button"><i class="fa-solid fa-square-plus"></i></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}