{% extends 'base_navbars.html' %}



{% block innerhead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
{% endblock %}



{% block innerbody %}
<div class="innerbody">
    <div class="margin_div">
        <div class="header_div">
            <h1>{{ project["title"] }}</h1>

            <a href="/home">Add People</a>
            <a href="/home">Manage Members</a>
        </div>
        <div class="minimize_div">
            <button type="button"><i class="fa-solid fa-square-minus"></i></button>
            
        </div>
        <div class="desc_div">
            <label>{{ project["description"] }}</label>
        </div>
        <!--<div class="graph_div"></div>-->

        <div class="todo_div">
            <div class="todo_columns">
                {% for col in cols %}
                <div class="col">
                    <div class="col_heading_div">
                        <label class="col_heading"><b>{{ col["col_title"] }}</b></label>
                    </div>
                    <div class="tickets">
                        {% for ticket in tickets[col["col_id"]] %}
                            <div class="ticket_div"><a href="/ticket/{{ticket['ticket_id']}}" class="ticket_info_btn">{{ ticket["ticket_title"] }}</a></div>
                        {% endfor %}
                        <div class="ticket_div add_ticket"><a class="add_ticket_btn" href="/newticket/{{ project['project_id'] }}/{{ col['col_id'] }}">Add a ticket</a></div>
                    </div>
                </div>
                {% endfor %}
                <!--
                <div class="col">
                    <div class="col_heading_div">
                        <label class="col_heading"><b>Col Name</b></label>
                    </div>
                    <div class="tickets">
                        <div class="ticket_div">Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket3  Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div">Ticket Name</div>
                        <div class="ticket_div add_ticket"><a href="/projects" id="add_ticket_btn">Add a ticket</a></div>

                    </div>
                </div>
                <div class="col">
                    <div class="tickets">
                        <div class="col_heading_div">
                            <label class="col_heading"><b>Col Name</b></label>
                        </div>
                        <div class="ticket_div">Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name Ticket Name</div>
                        
                        <div class="ticket_div add_ticket"><a href="/projects" id="add_ticket_btn">Add a ticket</a></div>
                    </div>

                </div>
                <div class="col"></div>-->

                <button class="add_col_btn" type="button"><i class="fa-solid fa-square-plus"></i></button> <!-- can only list 4 cols for now (including button)-->
            </div>
        </div>
    </div>
</div>
{% endblock %}