{% extends 'boilerplate.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/token_verification.css') }}">
{% endblock %}

{% block body %}
<div class="everything">
    <div class="verify_div">
        <h2>Password Reset:</h2>
        <form method="POST">
            <label>Enter new Password:</label>
            <input type="text" placeholder="Password" name="password">
            <label>Confirm new Password:</label>
            <input type="text" placeholder="Password" name="password_confirmation">
            <input type="submit">
        </form>

    </div>
</div>
{% endblock %}
