{% extends 'base_navbars.html' %}

{% block innerhead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ticket.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}

{% block innerbody %}
<div class="innerbody">
    <div class="everything">
        <input type="hidden" value="{{ ticket_info['ticket_id'] }}" id="tid_id">
        <div class="navbar_div">
            <div class="header_div">
                <span id="title_span">
                    <h1 class="ticket_name" id="ticket_name_id">{{ ticket_info["ticket_title"] }}</h1>
                    <textarea id="edit_ticket_name_id">{{ ticket_info["ticket_title"] }}</textarea>
                </span>
                <label class="project_name"><a href="/project/{{ ticket_info['project_id'] }}">{{ ticket_info["project_title"] }}</a></label>
            </div>
            <div class="timestamp_div">
                <label>{{ ticket_info["date_created"] }}</label>
                <label>-</label>
                <label>{{ ticket_info["date_completed"] }}</label>
            </div>
            <div class="desc_div" id="desc_div_id">
                <p id="desc_display">{{ ticket_info["description"] }}</p>
                <textarea id="desc_edit">{{ ticket_info["description"] }}</textarea>
            </div>
        </div>


        <div class="navbar">
            <a>resolve</a>
            <a>assign</a>
            <a>delete</a>
        </div>
    </div>    
</div>
<script src="{{ url_for('static', filename='scripts/ticket.js') }}"></script>
{% endblock %}
